
<div class="traffic-light-container">
  <!-- calculate Size and position of each light based on light light size -->
  <div *ngFor="let light of lights" class="traffic-light"
       [ngStyle]="{
         top: light.position.y + '%',
         left: light.position.x + '%',
         width: (light.size !== undefined ? (3/100*light.size) * 1.2 : 3.6) + 'vh',
         height: (light.size !== undefined ? ((3/100*light.size) * light.colors.length*1.1 +(2/100*light.size)*1) : light.colors.length *3.2) + 'vh',
         fontSize: (light.size !== undefined ? (light.size / 10) : 10) + 'px'
       }">

    <!-- set lightname and fontsize -->
    <div class="light-name" 
         [ngStyle]="{
         fontSize: (light.size !== undefined ? (2/100*light.size) : 2)+'vh',
         }">
         {{ light.Lightname }}
    </div>

    <!-- calculate lightlight size -->
    <div *ngFor="let color of light.colors"
         class="light"
         [ngStyle]="{
           'background-color': color.status ? color.color : '#D3D3D3',
           'opacity': color.status ? 1 : 0.5,
           'width': (light.size !== undefined ? (3/100*light.size) : 3)+ 'vh',
           'height': (light.size !== undefined ? (3/100*light.size) : 3)+'vh',
           'border-radius': '50%'
         }"
         (click)="toggleLightColor(light.LightId, color.colorId)">
    </div>
  </div>
</div>
