/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgba(0,0,0,0.0);
    font-family: Arial;
}

button{
    font-family: Arial;
    
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}